body {
  height: 100vh;
  margin: 0;
  background-color: #f1f1f1;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

#root {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-align: center;
}

.todoheader {}