body {
  height: 100vh;
  margin: 0;
  background-color: #f1f1f1;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

#root {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-align: center;

}

.todoheader h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 0.02em;
}


input#form__input {
  width: 95%;
  padding: 12px;
  border: 1px solid #e9e9e9;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

button#form__submit {
  width: 100%;
  padding: 8px;
  background-color: rgb(0, 128, 255);
  border: 0;
  border-radius: 7px;
  color: #ffffff;
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: 700;
}

#todolist {
  padding: 0;
  max-height: 170px;
  min-height: 170px;
  overflow: scroll;
}

#todolist li {
  text-align: left;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 95%;
  padding: 12px;
  background-color: rgb(245, 255, 248);
  border-radius: 8px;
  margin-bottom: 4px;
  align-items: center;
}

#todolist li:last-child {
  margin-bottom: 0;
}

span#todo__label {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}

.todo__delete {
  border: 0;
  background-color: red;
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  line-height: 1;
  padding: 8px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.todo_save {
  background-color: green;
  margin-right: 4px;
}

.footer h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
}

#todolist li.no-record {
  font-size: 16px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.9);
  line-height: 1;
  display: flex;
  justify-content: center;
}